body {
  margin: 0;
  padding: 0;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 600px;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden;
}

#root {
  width: 400px;
  height: 600px;
}

.App {
  width: 400px;
  height: 600px;
  overflow-y: auto;
}
